body {
    height: 100vh;
    width: 100vw;
    background: rgba(11, 11, 11, 1);
"
}

.background-image {
    height: 100vh;
    width: 100vw;
    opacity: 0.17;
    position: fixed;
    top: 0;
    left: 0;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    height: 100vh;
    width: 100vw;
}

.title {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
}

.sub-title {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-left: 1px;
}

.top {
    flex-grow: 1;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}


/* IPHONE */

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 736px)
and (orientation: portrait) {
    .title {
        font-size: 55px;
    }
    .contact {
        font-size: 30px;
    }
    .sub-title {
        font-size: 30px;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 736px)
and (orientation: landscape) {

}


/* TABLET */

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    .title {
        font-size: 36px;
     }
    .contact {
        font-size: 21px;
    }
    .sub-title {
        font-size: 21px;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
}